# classification on spam dataset using naive bayes

In [ ]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ML data-s/spam.csv", encoding = "latin-1", usecols=["v1", "v2"])
df.columns = ["label", "message"]

In [ ]:
df.head(2)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...

In [ ]:
df.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [ ]:
df.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [ ]:
df.shape

(5572, 2)

## **Encoding :**

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
msg=df.iloc[:,1]
lbl=df.iloc[:,0]
msg_encoded=le.fit_transform(msg)
lbl_encoded=le.fit_transform(lbl)

In [ ]:
msg_encoded =msg_encoded.reshape(-1,1)
lbl_encoded =lbl_encoded.reshape(-1,1)

## spliting data

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(msg_encoded,lbl_encoded,test_size=0.3,random_state=10)

## train and predict

In [ ]:
nb = GaussianNB()
nb.fit(x_train, y_train)
y_pred=nb.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## testing

In [ ]:
print(nb.score(x_test,y_test))

0.8648325358851675